*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Commissioner', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: #FAFAFA;
    position: relative;
}

.nav-items{
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 1.6rem;
    margin-top: 4rem;
    font-size: 1.6rem;
}

nav > .nav-items> a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav > .nav-items> a:hover{
    transform: scale(1.3);
}


nav{
    background-image: url(image-hero-desktop.jpg);
    background-size: cover;
    width:100%;
    height: 40rem;
    display:flex;
    justify-content: space-around;
}

nav> img{
    width:13rem;
    height: 2rem;
    margin-top: 4rem;
    cursor: pointer;
}

nav > img:hover{
    transform: scale(1.3);
}

header{
    width:60%;
    text-align: center;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top:80%;
    left:20%;
}

header > img{
    position: absolute;
    top:-11%;
    left:45%;
}

header > h1{
    font-size: 2.8rem;
    margin-top: 3rem;
}
header > p{
    font-size: 1.6rem;
    margin-top: 1rem;
    opacity: 0.5;
}

.buttons{
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    width:80%;
    position: relative;
}

.back-btn{
    width:20rem;
    height: 5.6rem;
    border: none;
    border-radius: 3rem;
    background-color: #3CB3AB;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.back-btn:hover{
    background-color: #147A73   ;
}

.bookmark-btn{
    width:17.5rem;
    height: 5.6rem;
    border: none;
    border-radius: 3rem;
    background-color: #B1B1B1;
    color:#fff;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    padding-left: 3rem;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in;
}

.bookmark-text{
    margin-bottom: 0rem;
    position: absolute;
    top: 35%;
    right:5%;
}

.bookmark-btn::before{
    content: "";
    display: flex;
    width:5.6rem;
    height: 5.6rem;
    background-color: #147A73;
    border-radius: 50%;
    background-image: url(icon-bookmark.svg);
    mix-blend-mode:multiply;
    position: relative;
    top:0;
    left:-20%;
}

.count{
    width:60%;
    height: 21.2rem;
    position: absolute;
    top:150%;
    left:20%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.count-tab{
    width:100%;
    height: 6.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.count-actual{
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding-right: 4rem;
}

.count-3{
    border:none;
}

.count-actual > h2{
   font-size: 3.2rem;
}
.count-actual > p{
   font-size: 1.6rem;
   opacity: 0.5;
   margin-top: 0.4rem;
}

.my-slider{
    width:80%;
    height: 1.2rem;
    margin: 4rem auto;
    margin-left: 7rem;
    -webkit-appearance: none;
    background: #3CB3AB;
    opacity: 2;
    border-radius: 1rem;
}

.my-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
}

.container{
    width:60%;
    height: auto;
    position: absolute;
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    left:20%;
    top:215%;
}

.container > h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 4rem 4.5rem;
}
.container > p{
    font-size: 1.6rem;
    color:#7A7A7A;
    margin: 2rem auto;
    width:90%;
    text-align: left;
    line-height: 3rem;
}

.pledge-card{
    width:90%;
    height: 24.8rem;
    border:1px solid #B1B1B1;
    margin: 4rem auto;
    border-radius: 1rem;
}

.pledge-card:hover{
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pledge-card > p{
    font-size: 1.6rem;
    width: 90%;
    margin: 1rem auto;
    color: #7A7A7A;
    line-height: 3rem;
}

.title{
    width:90%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.title > h4{
    font-size: 2rem;
    font-weight: bold;
}
.title > p{
    font-size: 1.6rem;
    font-weight: lighter;
    color: #3CB3AB;
}
.footer{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
}

.left{
    display: flex;
    justify-content: flex-start;
}

.left > h4{
    margin-right: 1rem;
    font-size: 3.2rem;
    font-weight: bold;
}

.left > p{
    font-size: 1.5rem;
    color: #7A7A7A;
    padding-top: 1.5rem;
}

.inactive{
    opacity: 0.5;
}

.select-reward{
    width:15.7rem;
    height: 4.8rem;
    color: #fff;
    background-color: #3CB3AB;
    border-radius: 3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.select-reward:hover{
    background-color: #147A73;
}

.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
  }
  
  
  .modal-content {
    background-color: #FFFFFF;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: auto;
    padding-bottom: 4rem;
    border-radius: 1rem;
    position: relative;
  }

  .modal-content > h2{
     font-size: 2.4rem;
     margin-left: 8rem;
     margin-top: 4rem;
  }
  .modal-content > p{
     font-size: 1.6rem;
     color: #7A7A7A;
     margin-left: 8rem;
     margin-top: 2rem;
  }
  
  .close {
    color: #979797;
    position: absolute;
    top:2%;
    right:5%;
    font-size: 4.4rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .model-cards{
    width:80%;
    height: auto;
    margin: 2.5rem auto;
    border:1px solid #B1B1B1;
    border-radius: 1rem;
    position: relative;
    padding-bottom: 4rem;
    cursor: pointer;
  }

  .card1{
    margin-top: 3.5rem;
    display: flex;
    padding-bottom: 0rem;
  }

  .card1 > .card-content >p{
    margin-bottom: 2rem;
  }

  input[type="radio"] {
    display: none; 
}


.custom-radio {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: absolute;
    left:2%;
    top:25%;
}

.card-content{
    position: relative;
    margin-bottom: 2rem;
}
  .card-content > h3{
    width: 80%;
    font-size: 1.8rem;
    margin-left: 5rem;
    margin-top: 3rem;
  }

  .pledge{
    position: absolute;
    top:0;
    left:45%;
    font-size: 1.6rem;
    color: #3CB3AB;
    font-weight: bold;
  }
  .card-content > p{
    width: 90%;
    font-size: 1.6rem;
    color:#7A7A7A;
    margin-left: 5rem;
    margin-top: 1.5rem;
    line-height: 2.8rem;
  }

  .hide{
    display:none;
    margin-bottom: 0rem;
    transition: all 0.5s ease;
  }

  .hide-para{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
  }

  .hide-para > p{
    color:#7A7A7A;
  }

  .hide-para > .left{
    color:#333;
    font-weight: bolder;
    margin-top: 1rem;
  }

  .hide-content{
    display: flex;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .btns{
    margin-left: 40%;
  }

  .btns > input{
    width:10rem;
    height: 4.8rem;
    border-radius: 3rem;
    padding-left: 1rem;
    border: 1px solid #3CB3AB;
    outline: none;
    font-size: 1.6rem;
    font-weight: bolder;
    caret-color: #147A73;
  }

  .btns > input::placeholder{
    padding-left: 1rem;
    opacity: 0.6;
  }

  .btns > button{
    width:10.7rem;
    height: 4.8rem;
    border-radius: 3rem;
    border: none;
    background-color: #3CB3AB;
    color:#fff;
    margin-left: 1rem;
    font-size: 1.8rem;
    cursor: pointer;

  }
  .btns > button:hover{
    background-color: #147A73;
    color:#fff
  }

  .hide-content > .left{
    width:30%;
  }

  .model-cards:last-child{
    opacity: 0.5;
  }

  .modal2 {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.6); 
  }

  .modal2-content{
    background-color: #FFFFFF;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 54rem;
    height: 44.9rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    position: relative;
  }

  .modal2-content > img{
    margin: 3rem 40%;
    width:9rem;
    height: 9rem;
  }
  .modal2-content > h1{
    font-size: 2.4rem;
    margin: 0.5rem 21%;
  }
  .modal2-content > p{
    font-size: 1.6rem;
    width:90%;
    opacity: 0.6;
    line-height: 2.5rem;
    text-align: center;
    margin: 1rem auto;
  }

  .got-it{
    width:10.7rem;
    height: 4.8rem;
    border-radius: 3rem;
    border: none;
    background-color: #3CB3AB;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 2rem 37%;
    font-weight: bold;
  }

  .got-it:hover{
    background-color: #147A73;
  }


  /* JS CSS */

  .book-marked{
    background-color: #147A73;
    color:#fff;
    text-align: center;
  }

  .show{
    display: block;
  }

  .radio-clicked::before{
    content:'';
    display:block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #3CB3AB;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  }

  .border{
    border: 2px solid #3CB3AB;
  }

  .axis-1{
    transform: rotate(45deg);
    position: fixed;
  }
  .axis-2{
    transform: rotate(-45deg);
    position: fixed;
  }



  @media screen and (max-width:700px){
    .nav-items{
      display: none;
  }
  
  
  
  nav> img{
      margin-top: 4rem;
      margin-left: -50%;
  }
  
  header{
      width:90%;
      top:60%;
      left:5%;
  }
  
  header > img{
      position: absolute;
      top:-11%;
      left:42%;
  }
  
  header > h1{
    width: 90%;
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 1rem;
  }
  header > p{
      margin-top: 2rem;
      width:90%;
      text-align: center;
      margin-left: 1.5rem;
  }
  .buttons{
    margin: 3rem auto;
    width:90%;
}

.back-btn{
    width:78%;
    height: 5.6rem;
}

.back-btn:hover{
    background-color: #147A73;
}

.bookmark-btn{
    width:5.6rem;
    height: 5.6rem;
}

.bookmark-text{
    display: none;
}

.bookmark-btn::before{
    top:0%;
    left: -110%;
}

.hamburger{
  position: absolute;
  display: block;
  width:2.6rem;
  height: 2.6rem;
  z-index: 100;
  top:10%;
  right:10%;
  cursor: pointer;
}

.hamburger > div{
  width:2.6rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 4rem;
  margin-bottom: 0.5rem;
}

.modal-mobile{
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100%; 
  background-color: rgba(0,0,0,0.6); 
 display: none;
}

.modal-mobile.show {
  display: block;
}

.modal-content-mobile{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 6rem auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: auto;
  padding-bottom: 0rem;
  border-radius: 1rem;
}

.modal-content-mobile > a{
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 1px solid #c7c7c7;
  color:#000; 
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.count{
  width:90%;
  height: auto;
  position: absolute;
  top:130%;
  left:5%;
}

.count-tab{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.count-actual{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-right: none;
  padding-right: 0rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.my-slider{
  width:90%;
  margin: 3rem auto;
  margin-left: 1.6rem;
}

.container{
  width:90%;
  height: auto;
  left:5%;
  top:240%;
  padding-bottom: 2rem;
}

.container > h3{
  margin: 4rem 2rem;
}
.pledge-card{
  width:90%;
  height: auto;
}

.modal{
  /* display: none; */
 
}


.modal-content {
  width: 90%;
  height: auto;
}

.modal-content > h2{
   font-size: 2.4rem;
   margin-left: 0rem;
}
.modal-content > p{
   margin-left: 0rem;
   margin-top: 1.5rem;
}

.close {
  top:1%;
  font-size: 4rem;
}
.model-cards{
  width:90%;
  height: auto;
}

.card1{
  margin-top: 3.5rem;
  display: flex;
  padding-bottom: 0rem;
}

.card1 > .card-content >p{
  margin-bottom: 2rem;
  width:100%;
}

.custom-radio {
  display: block;
  position: absolute;
  left:5%;
  top:14%;
}

.card-content{
  position: relative;
  margin-bottom: 2rem;
}
.card-content > h3{
  width: 100%;
  display: flex;
}

.pledge{
  position: relative;
  top:0;
  left:18%;
}
.card-content > p{
  width: 90%;
  margin-left: 1.5rem;
  margin-top: 3rem;
}

.hide{
  /* display:none; */
  
}


.hide-para > p{
  color:#7A7A7A;
  margin-left: 0rem;
  width:13rem;
}

.hide-para > .left{
  color:#333;
  font-weight: bolder;
  margin-top: 1rem;
}

.hide-content{
  margin-left: 1rem;
}

.btns{
  margin-left: 2%;
}

.btns > button{
  width:10rem;
  margin-left: 0rem;
  margin-top: 1rem;
}
.btns > button:hover{
  background-color: #147A73;
  color:#fff
}

.modal2 {
  /* display: none; */
 
}

.modal2-content{
  margin: 20% auto; 
  width: 90%;
  height: auto;
  padding-bottom: 2rem;
  
}

.modal2-content > img{
  margin: 2rem 38%;
  width:7rem;
  height: 7rem;
}
.modal2-content > h1{
  font-size: 2.4rem;
  width:100%;
  margin-left: 7%;
}

.got-it{
  margin: 2rem 33%;
}

  }



  
